amqp==2.4.1
billiard==3.5.0.5
celery==4.2.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
clickclick==1.2.2
configparser==3.7.3
connexion==2.0.2
dominate==2.3.5
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
hejtado-hardware==0.1.1
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==2.6.0
kombu==4.3.0
konfig==1.1
MarkupSafe==1.1.1
MinimalModbus==0.7
openapi-spec-validator==0.2.6
pathlib==1.0.1
ply==3.11
pyasn1==0.4.5
pycryptodomex==3.7.3
pyserial==3.4
pysmi==0.3.3
pysnmp==4.4.6
pytz==2018.9
PyYAML==3.13
requests==2.21.0
six==1.12.0
swagger-ui-bundle==0.0.3
urllib3==1.24.2
vine==1.2.0
visitor==0.1.3
Werkzeug==0.14.1
